<div class="footer">
    <div class="site-footer">
        <ul>
            <li><a href="https://picocms.org/docs/">Pico dokumentation</a></li>
            <li><a href="https://daringfireball.net/projects/markdown/basics">Introduktion till Markdown</a></li>
            <li><a href="https://www.figma.com/files/recent?fuid=1078686793133662174">Figma - Design tool</a></li>
            <li><a href="https://learning.oreilly.com/library/view/the-principles-of/9781457174353/">The principles of Beautiful Web Design</a></li>
        </ul>
    </div>
    <div class="social">
        <!-- Loads from FontAwesome (themes/shared/css/font-awesome.min.css) -->
        {% for social in pages["_meta"].meta.social %}
        <a href="{{ social.url }}" title="{{ social.title }}" role="button">
            <i class="{{ social.icon }}" aria-hidden="true"></i>
            <span class="sr-only">{{ social.title }}</span>
        </a>
        {% endfor %}
    </div>
</div>

<script src="{{ theme_url }}/../shared//js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/utils.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/responsive-navbar.js" type="text/javascript"></script>
